rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /snippets/{snippetId} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /settings/{document} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /scripts/{scriptId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == request.resource.data.userId;
      allow delete: if request.auth != null && request.auth.uid == resource.data.userId;
      allow update: if request.auth != null && request.auth.uid == resource.data.userId;
    }
    match /users/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}